@mixin header-footer($theme: white) {
    background: $theme;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    @include header-footer;
}
footer{
    @include header-footer($theme: #13183e);
}

@mixin buttons($buttons:#13183e){
    margin-right: 10vw;
    border-radius: 25px;
    height: 7vh;
    width: 10vw;
    color: white;
    background-image: $buttons;
    border: none;
    font-weight: bold;
    background-color: #13183e;
    font-size: 15px;
}

.navbar{
    h1{
        margin-left: 10vw;
        font-size: 30px;
    }
    .navbar__button--gradient{
        @include buttons;
    }
}
.footer{
    h1 {
        margin-left: 10vw;
        font-size: 30px;
        color: white;
    }
    
    .footer__button--gradient {
        @include buttons($buttons:linear-gradient(180deg, #8544D8, #de2eaf));
    }
}

.content{
    background: linear-gradient(180deg, white,#f0f2ff);
}

.frontpage{
    display: flex;
}

.frontpage__text{
    margin-left: 10vw;
    margin-top: 10vh;
    h1{
        font-size: 4em;
        padding-right: 20vw;
    }
    p{
        font-size: 20px;
        font-weight: lighter;
        margin-right: 30vw;
    }
    .frontpage__text--gradientbutton{
        @include buttons($buttons: linear-gradient(180deg, #ff6c4b, #de2eaf));
        margin-top: 5vh;
        margin-bottom: 15vh;
    }
}

.frontpage__image {
    position: relative;
    top: 0;
    right: 0;
}

@mixin members-courses($top:6rem,$left:13rem){
    position: absolute;
    top: $top;
    left: $left;
    background-color: white;
    width: 8vw;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(1, 20, 6, 0.15) 0px 48px 100px 0px;
    padding: 5px;
}
.frontpage__image{
    img{
    height: 45vh;
    margin-right: 10vh;
    margin-top: 15vh;
    position: relative;
    top: 0;
    right: 0;
    }
    .frontpage__image--members{
            @include members-courses;
    }
    .frontpage__image--courses{
        @include members-courses(25rem, -5rem);
    }
}

.course__section{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin-top: 10vh;

}

@mixin section($background:linear-gradient(180deg, #ff6c4b, #de2eaf),$color:white){
    background: $background;
    height: 35vh;
    width: 20vw;
    margin: 20px;
    border-radius: 10px;
    color: $color;
    text-align: center;
    margin-bottom: 10vh;
}

.course__section--gradient{
    @include section;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
        align-items: center;
        justify-content: center
    }
}
.course__section--article{
    @include section($background:white,$color:black);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: left;
    position: relative;
    div{
        padding: 25px;
    }
    b{
        text-decoration: none;
        color: #de2eaf;
    }
    p{
        min-height: 100px;
    }
    .icon {
        position: absolute;
        background: linear-gradient(180deg, #ff6c4b, #de2eaf);
        border-radius: 50%;
        height: 20px;
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:-15%;
        margin-left: 20px;
    }
}